<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Dutch Treat: @ViewBag.Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="~/lib/fortawesome/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="~/css/site.css">
</head>
<body>
    <div class="row">
        <header class="container-fluid bg-dark">
            <nav class="navbar navbar-dark navbar-expand-md">
                <h1 class="navbar-brand">
                    <i class="fas fa-paint-brush"></i> Dutch Treat
                </h1>
                <button class="navbar-toggler" 
                        type="button"
                        data-toggle="collapse" 
                        data-target="#theMenu"
                        aria-controls="navbarSupportedContent" 
                        aria-expanded="false" 
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="theMenu">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" 
                                asp-controller="App" 
                                asp-action="Index">Home
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" 
                                asp-controller="App" 
                                asp-action="Contact">Contact
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" 
                                asp-controller="App" 
                                asp-action="About">About
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" 
                                asp-controller="App" 
                                asp-action="Shop">Shop
                            </a>
                        </li>
                        @if(User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link" 
                                    asp-controller="Account" 
                                    asp-action="Logout">Logout
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" 
                                    asp-controller="Account" 
                                    asp-action="Login">Login
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </nav>
        </header>
        <section class="container">
            <h2 class="text-center">@ViewBag.Title</h2>
            @RenderBody()
        </section>
        <footer class="container-fluid text-center">
            Site created by KK.
        </footer>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous">
    </script>

    <script 
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js" 
        integrity="sha512-2rNj2KJ+D8s1ceNasTIex6z4HWyOnEYLVC3FigGOmyQCZc2eBXKgOxQmo3oKLHyfcj53uz4QMsRCWNbLd32Q1g==" 
        crossorigin="anonymous" 
        referrerpolicy="no-referrer">
    </script>

    <script 
        src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" 
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" 
        crossorigin="anonymous">
    </script>
    
    <script src="~/js/index.js"></script>

    @RenderSection("Scripts", false)
</body>
</html>