@{
    ViewBag.Title = "Home Page";
}
<div class="popup buy-form">
    <p class="js-buy-form-exit exit-button">X</p>
    <form>
        <div>
            <label>Name:</label>
            <input />
        </div>
        <div>
            <label>Email:</label>
            <input type="email" />
        </div>
        <div>
            <label>Subject:</label>
            <input type="text" />
        </div>
        <div>
            <label>Message:</label>
            <textarea rows="4"></textarea>
        </div>
        <div>
            <input type="submit" value="Send Message" />
        </div>
    </form>
</div>
<div class="js-blocker blocker"></div>


<content>
    <div class="row">
        <div class="product-box col-md-6">
            <div class="product-img col-md-6">
                <img src="~/img/VanGogh.jpg" />
            </div>
            <div class="product-info col-md-6">
                <h3>Lorem ipsum</h3>
                <ul>
                    <li>Price: $9.99</li>
                    <li>Artist: Van Gogh</li>
                    <li>Title: Some title</li>
                    <li>Description: Some description</li>
                </ul>
                <button class="js-buy-button btn btn-primary">Buy</button>
            </div>
        </div>

    </div>

    <br style="clear:both" />

</content>