@{
    ViewBag.Title = "Home Page";
}
<div class="popup buy-form">
    <p class="buy-form-exit exit-button">X</p>
    <form>
        <div>
            <label>Name:</label>
            <input />
        </div>
        <div>
            <label>Email:</label>
            <input type="email" />
        </div>
        <div>
            <label>Subject:</label>
            <input type="text" />
        </div>
        <div>
            <label>Message:</label>
            <textarea rows="4"></textarea>
        </div>
        <div>
            <input type="submit" value="Send Message" />
        </div>
    </form>
</div>
<div class="blocker"></div>


<content>
    <div class="mug">
        <div class="mug-content mug-img">
            <img src="~/img/VanGogh.jpg" />
        </div>
        <div class="mug-content mug-info">
            <h3>Lorem ipsum</h3>
            <ul>
                <li>Price: $9.99</li>
                <li>Artist: Van Gogh</li>
                <li>Title: Some title</li>
                <li>Description: Some description</li>
            </ul>
            <button class="buyButton">Buy</button>
        </div>
    </div>

    <div class="mug">
        <div class="mug-content mug-img">
            <img src="~/img/VanGogh.jpg" />
        </div>
        <div class="mug-content mug-info">
            <h3>Lorem ipsum</h3>
            <ul>
                <li>Price: $9.99</li>
                <li>Artist: Van Gogh</li>
                <li>Title: Some title</li>
                <li>Description: Some description</li>
            </ul>
            <button class="buyButton">Buy</button>
        </div>
    </div>

    <div class="mug">
        <div class="mug-content mug-img">
            <img src="~/img/VanGogh.jpg" />
        </div>
        <div class="mug-content mug-info">
            <h3>Lorem ipsum</h3>
            <ul>
                <li>Price: $9.99</li>
                <li>Artist: Van Gogh</li>
                <li>Title: Some title</li>
                <li>Description: Some description</li>
            </ul>
            <button class="buyButton">Buy</button>
        </div>
    </div>

    <div class="mug">
        <div class="mug-content mug-img">
            <img src="~/img/VanGogh.jpg" />
        </div>
        <div class="mug-content mug-info">
            <h3>Lorem ipsum</h3>
            <ul>
                <li>Price: $9.99</li>
                <li>Artist: Van Gogh</li>
                <li>Title: Some title</li>
                <li>Description: Some description</li>
            </ul>
            <button class="buyButton">Buy</button>
        </div>
    </div>
    <br style="clear:both" />

</content>