/* nav */
header {
    /* STICKY
        position: sticky;
        top: 0;
    */
}

nav ul li p, nav ul li a {
    margin: 0;
    cursor: pointer;
}

/* Headers */
h2 {
    margin: 0.5em 0;
}

/* Footer */
footer {
    padding: 1em 0;
}

/* Forms */
.card-body {
    margin: 1em;
}

/* Product box */
.product-box {
    margin: 1em;
}